<h1><%= @employee.full_name %></h1><hr><br>
<h4>Salary Per Day:</h4> <h5>P<%= @employee.salary_per_day %></h5><br>
<h4>Number of Months:</h4> <h5><%= @employee.number_of_months %><h5>
<hr>
<h2> Summary: </h2>	
<table class="table table-striped">
	<thead>
		<tr>
			<td><b>Total Salary</b></td>
			<td><b>Tax Withheld<b></td>
			<td><b>Tax for the Year<b></td>
			<td><b>Net Salary<b></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>P<%= @total_salary %></td>
			<% if @employee.number_of_months <12 %>
				<td>P<%= @tax_witheld*@employee.number_of_months.to_i %></td>
			<% else %>
				<td>P<%= @tax_witheld*((@employee.number_of_months.to_i)%12) %> </td>
			<% end %>
			
			<td>P<%= @tax*(@employee.number_of_months/12).to_i %></td>
			<td>P<%= @net_salary %></td>
		</tr>
	</tbody>
</table>






